<?xml version="1.0" encoding="UTF-8"?>
<pfsense>
	<version>23.9</version>
	<lastchange></lastchange>
	<theme>pfsense</theme>
	<sysctl>
		<item>
			<descr><![CDATA[Disable the pfSense user survey.]]></descr>
			<tunable>net.pf.request_stats</tunable>
			<value>0</value>
		</item>
	</sysctl>
	<system>
		<optimization>normal</optimization>
		<hostname>pfsense</hostname>
		<domain>localdomain</domain>
		<dnsallowoverride>1</dnsallowoverride>
		<group>
			<name>admins</name>
			<description><![CDATA[System Administrators]]></description>
			<scope>system</scope>
			<gid>1998</gid>
			<member>0</member>
			<priv>page-all</priv>
		</group>
		<user>
			<name>admin</name>
			<descr><![CDATA[Administrator]]></descr>
			<scope>system</scope>
			<groupname>admins</groupname>
			<password_hash>$2y$10$f3D4Z2R.W8nZ7jBqL8d9zeQJ7/B8y5tZ9n8K7y3v1w2x3y4z5a6b7</password_hash>
			<uid>0</uid>
			<priv>user-shell-access</priv>
		</user>
		<nextuid>2000</nextuid>
		<nextgid>2000</nextgid>
		<timezone>Asia/Jakarta</timezone>
		<time-update-interval>300</time-update-interval>
		<timeservers>0.pfsense.pool.ntp.org 1.pfsense.pool.ntp.org 2.pfsense.pool.ntp.org</timeservers>
		<webgui>
			<protocol>http</protocol>
			<port>80</port>
			<max_procs>2</max_procs>
		</webgui>
		<disablescrub>1</disablescrub>
		<ssh>
			<enable>enabled</enable>
			<port>22</port>
		</ssh>
	</system>
	<interfaces>
		<wan>
			<enable>1</enable>
			<if>__WAN_IF__</if>
			<ipaddr>__WAN_IP__</ipaddr>
			<subnet>__WAN_SUBNET__</subnet>
			<gateway>__WAN_GW__</gateway>
			<blockpriv>0</blockpriv>
			<blockbogons>0</blockbogons>
		</wan>
	</interfaces>
	<filter>
		<rule>
			<id></id>
			<tracker>0100000001</tracker>
			<type>pass</type>
			<interface>wan</interface>
			<ipprotocol>inet</ipprotocol>
			<descr><![CDATA[Allow WAN SSH and WebGUI Access from Any]]></descr>
			<source>
				<any></any>
			</source>
			<destination>
				<any></any>
			</destination>
		</rule>
	</filter>
</pfsense>
